/.849C9593-D756-4E56-8D6E-42412F2A707B
/Abstract for smart billing shopping cart.docx
/Desktop
/desktop.ini
/DOC-20230719-WA0017..pdf
/DOC-20230919-WA0003..docx
/DOC-20230919-WA0011..pptx
/Documents
/DQL WORKSHEET.pdf
/Getting started with OneDrive.pdf
/Iot
/Kanmani's resume.docx
/Keerti's Resume.docx
/Personal Vault.lnk
/Pictures
/python questions.txt
/Sorting and Searching.txt
/webpage